<div class="container">
    <h4> <span class="w-25 mt-5" style="background-color: #eee">会員情報編集</span></h4>
    
    <%= form_with(model:@customer, url:customers_information_edit_path, method: :patch), local:true do |f| %>
  <div class="row mt-5">
   <div class="col">
    <table class="table table-borderless">
       <tr>
        <td> <%= f.label :氏名 %> </td>
        <td colspan="3"> <%= f.text_field :last_name %>  <%= f.text_field :first_name %> </td>
       </tr>
       
       <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_kana %>  <%= f.text_field :first_name_kana %></td>
       </tr>
       
       <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :postal_code %></td>
       </tr>
       
       <tr>
        <td>住所</td>
        <td span="3"><%= f.text_field :address, class:"w-75" %></td>
       </tr>
       
       <tr>
        <td>電話番号</td>
        <td><%= f.text_field :telephone_number %></td>
       </tr>
       
       <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email %></td>
       </tr>
       
    </table>
   </div>
  </div>
          <div class="row justify-content-center">
           <div class="col-md-3"><%= f.submit "編集内容を保存", class:"btn btn-success  mr-5" %></div>
           <div class="col-md-3"><%= link_to "退会する", customers_confirm_withdraw_path, class:"btn btn-danger ml-5" %></div>
          </div>
    <% end %>
</div>