<div class='container'>
  <div class='row py-5'>
    <%= render 'genre_table' %>

    <div class='col-12 pt-5'>
      <p class='home-text mx-auto text-center'>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります.
      </p>

      <div class=''>
        <h3 class='ml-4 mb-4' style='word-break: break-word;'><strong>新着商品</strong></h3>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-4 col-sm-6 mb-4">
              <div class="card">
                <%= link_to item_path(item) do %>
                  <%= image_tag item.get_item_image(300,300) %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text"><%= item.price %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container py-3'>
  <div class='text-right'><%= link_to '全ての商品を見る >>', items_path %></div>
</div>
