<div class="container px-5 px-sm-0">
  <h3>注文履歴詳細</h3>
  <div class="row">
    <div class="col-md-10 col-lg-8 px-5 px-sm-0 my-5">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <th>購入者</th>
            <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
              <td>
                <%= f.select :status, Order.statuses.keys, class: "order_status" %><%= "　　" %>
                <%= f.submit "更新", class: "btn btn-success"%>
              </td>
            <% end %>
          </tr>
          <tr>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price * @tax).to_i %></td>
            <td><%= order_detail.amount %></td>
            <% subtotal = ((order_detail.item.price * order_detail.amount) * @tax).to_i %>
            <td><%= subtotal %></td>
            <%= form_with model: order_detail,url: admin_order_detail_path, method: :patch do |f| %>
              <td>
                <%= f.select :making_status, OrderDetail.making_statuses.keys, class: "order_status" %><%= "　　" %>
                <%= f.submit "更新", class: "btn btn-success"%>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 offset-md-1">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping_fee %>円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>