<div class="container px-sm-0 px-5">
  <div class="row my-4">
    <h3>ジャンル一覧・追加</h3>
  </div>
  <div class="row px-sm-0 px-5">
    <div class="col-md-6 px-5 px-sm-0">
      <%= render "admin/shared/error_messages", resource: @genre %>
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <table class="table table-borderless">
        <tbody>
            <tr>
              <th>ジャンル名</th>
              <td><%= f.text_field :name, class:"form-control" %></td>
              <td><%= f.submit '新規作成', class:"btn btn-success" %></td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row px-sm-0 px-5">
    <div class="col-md-5 px-5 px-sm-0">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-sm btn-success" %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
