<table class="table">
  <thead class="thead-light">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <tr>
      <td>
        <!--注文詳細のパス要確認-->
        <%= link_to admin_order_path(order) do %>
         <%= order.created_at %>
        <% end %>
      </td>
      <td><%= order.customer.last_name + order.customer.first_name %></td>
      <!--注文個数の表示を調べる-->
      <td><%= "" %></td>
      <td><%= order.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>