<div class="container mt-4">
    
      <h4><span class="w-25 mt-5 ml-5 font-weight-bold" style="background-color: #eee">配送先編集</span></h4>
      <p class="text-danger text-center"><%= render "public/shared/error_messages", resource: @address %></p>
    

<%= form_with model: @address, url:address_path(@address), method: :patch, local: true do |f| %>
 <div class="row mt-4">
  <div class="col">
   <table class="table table-borderless">
     
        <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :postal_code %></td>
            <td colspan="3"></td>
        </tr>
        
        <tr>
            <td>住所</td>
            <td colspan="3"><%= f.text_field :address, class:"w-50" %></td>
            <td></td>
        </tr>
        
        <tr>
            
        </tr>
            <td>宛名</td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit "変更内容を保存", class:"btn btn-success w-auto" %></td>
   </table>
   
  </div>
 </div>
 <% end %>
     
 </div>
</div>