<div class="container mt-5">
  <h4 class='ml-5'>
    <span class='bg-light p-2'>注文情報確認</span>
  </h4>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th style="width: 40%;">商品名</th>
            <th style="width: 20%;">単価</th>
            <th style="width: 20%;">数量</th>
            <th style="width: 20%;">小計</th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td><%= attachment_image_tag(cart_item.item, :image, fallback: 'no-image.png') %><%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price*1.1).to_i %></td>
            <td><%= cart_item.amount %></td>
            <td>
              <% subtotal = ((cart_item.item.price * cart_item.amount) *1.1).floor %>
              <%= subtotal %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>送料</th>
            <% @order.shipping_fee = 800 %>
            <td style="width: 60%;"><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <% total += (cart_item.item.price * cart_item.amount) *1.1 %>
            <td><%= total.floor %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <% @order.total_price = @order.shipping_fee + total.floor %>
            <td><%= @order.total_price %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>

  <h5 class='mb-5 mt-2'><strong class='mr-3'>支払方法</strong><%= @order.payment_method %></h5>
  <h5>
    <strong class='mr-3'>お届け先</strong><%= @order.postal_code %><%= @order.address %><br>
    <%= @order.name %>
  </h5>

  <div class="col-sm-3 mx-auto mt-5">
    <input class="btn btn-success btn-lg btn-block" type="submit" value="注文を確定する">
  </div>
</div>
