<div class='container mt-5'>
  <div class='row'>
  <h2 class='text-left ml-5 mb-md-3 mb-lg-5'>
    <span class='bg-light p-2'>ログイン</span>
  </h2>
  </div>
</div>

<div class='container'>
      <div class="col-sm-4">
        <h5 class='text-center mt-4 mb-5'>
          <span class='bg-light p-2'>会員の方はこちらからログイン</span>
        </h5>
      </div>

  <%= form_with(model: resource, url: session_path(resource_name)) do |f| %>
  <div class='form-group row justify-content-center'>
    <label for='email' class='col-form-label text-left col-sm-2'>メールアドレス</label>
    <div class='col-sm-4'>
      <%= f.text_field :email, id: 'email', class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'Email' %>
    </div>
  </div>
  <div class='form-group row justify-content-center'>
    <label for='password' class= 'col-form-label text-left col-sm-2'>パスワード</label>
    <div class='col-sm-4'>
      <%= f.password_field :password, id: 'password', class: 'form-control', autocomplete: "current-password", placeholder: 'Password' %>
    </div>
  </div>

    <div class="form-group row mt-4">
      <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
  <% end %>

  <div class='col-sm-4'>
    <h5 class="text-center mb-3">
    <span class='bg-light p-2'>会員登録がお済みでない方</span>
    </h5>
    <div class="d-flex justify-content-center">
      <%= render "customers/shared/links" %>
        <div class="mx-1"></div>
        <span>から新規登録を行ってください。</span>
    </div>
  </div>

</div>


