<div class="container">
  <div class="row py-5">
    <%= render 'public/homes/genre_table' %>

    <div class="col-12 col-md-10 mt-4 mx-auto">
      <div class="row align-items-center">
        <div class="col-md-12 mb-3">
          <h2 class="ml-md-5">商品一覧 <small> （全<%= @items_count %> 件）</small></h2>
        </div>
      </div>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
          <%= link_to item_path(item), class: 'text-dark', style: "text-decoration: none;" do %>
            <%= image_tag item.get_item_image(300, 300), class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title text-truncate"><%= item.name %></h5>
            <% tax_include = (item.price * 1.1).floor %>
            <p class="card-text">¥<%= tax_include %> <small class="text-muted custom_fony">(税込)</small></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

    </div>
  </div>
</div>
